[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adaR"]
	path = adaR
	url = https://github.com/gesistsa/adar
[submodule "crul"]
	path = crul
	url = https://github.com/ropensci/crul
	registered = false
[submodule "grafzahl"]
	path = grafzahl
	url = https://github.com/gesistsa/grafzahl
[submodule "minty"]
	path = minty
	url = https://github.com/gesistsa/minty
[submodule "oolong"]
	path = oolong
	url = https://github.com/gesistsa/oolong
[submodule "rang"]
	path = rang
	url = https://github.com/gesistsa/rang
[submodule "rio"]
	path = rio
	url = https://github.com/gesistsa/rio
[submodule "rtoot"]
	path = rtoot
	url = https://github.com/gesistsa/rtoot
[submodule "sweater"]
	path = sweater
	url = https://github.com/gesistsa/sweater
[submodule "vcr"]
	path = vcr
	url = https://github.com/ropensci/vcr
	registered = false
[submodule "webtrackR"]
	path = webtrackR
	url = https://github.com/gesistsa/webtrackr
